{% extends 'base.html' %}

{% block title %}
    Math Problem Solver
{% endblock title %}

{% block content %}
<main class="form-page">
    <form method="post">
        {% csrf_token %}
        <h1 class="form-title">Add Topics</h1>
        <p>
            <label class="label-name" for="id_name">Name</label>
            <br>
            <input class="input-name" type="text" name="name" maxlength="50" required id="id_name" placeholder="Topic Name">
        </p>
        <p>
            <label class="label-name" for="id_description">Description</label>
            <br>
            <textarea class="input-description" name="description" clos="40" rows="10" required id="id_description"></textarea>
        </p>
        <button class="form-button">ADD</button>
    </form>
</main>
{% endblock content %}
