{% extends 'base.html' %}
{% block title %}
    Math Problem Solver
{% endblock title %}
{% block content %}
<main class="form-page">
    <form method="post">
        {% csrf_token %}
        <h1 class="form-title">Answer a Question</h1>
        <p>
            <h1 class="label-question">{{ question.question }}</h1>
        </p>
        <p>
            <label class="label-name" for="id_solution">Solution</label>
            <br>
            <textarea class="input-solution" name="solution" cols="40" rows="10" required id="id_solution"></textarea>
        </p>
        <p>
            <label class="label-name" for="id_solution_creater">Solution creater: </label>
            <select class="option" name="solution_creater" required id="id_solution_creater">
                <option value="user-selection">Select a user</option>
                {% for user in users %}
                    <option vaule="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </p>
        <button class="form-button">ANSWER</button>
    </form>
</main>
{% endblock content %}
