{% extends 'base.html' %}

{% block title %}
    Math Problem Solver
{% endblock title %}

{% block content %}
<main class="form-page">
    <form method="post">
        {% csrf_token %}
        <h1 class="form-title">Ask a Question</h1>
        <p>
            <label class="label-name" for="id_topic">Topic: </label>
            <select class="option" name="topic" required id="id_topic">
                <option value="topic-selection">Select a topic</option>
                {% for topic in topics %}
                    <option value="{{ topic.id }}">{{ topic.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label class="label-name" for="id_question">Question</label>
            <br>
            <textarea class="input-question" name="question" cols="40" row="10" required id="id_question"></textarea>
        </p>
        <p>
            <label class="label-name" for="id_question_creater">Questions Creater: </label>
            <select class="option user-option" name="question_creater" required id="id_question_creater">
                <option value="user-selection">Select a user</option>
                {% for user in users %}
                    <option vaule="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </p>
        <button class="form-button">ADD</button>
    </form>
</main>
{% endblock content %}
