{% extends 'base.html' %}

{% block title %}
    Question List
{% endblock title %}

{% block content %}

<main>
    <div class="grid-container">

        {% for problem in my_problems %}
        <div class="grid-item">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="question-card-title">{{ problem.topic }}</h5>
                    <p class="question-card-text">{{ problem.question }}</p>
                    <a href="{% url 'individual_problem' problem.id %}" class="button-look question-button">Check Question</a>
                    <a href="" class="button-look delete-button">Delete Question</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</main>
{% endblock content %}
