{% extends 'base.html' %}

{% block title %}
    Math Problems {{ math_problems.id }}
{% endblock title %}

{% block content %}
<main>
    <div class="problem-page">
        <div class="problem">
            <h1 class="problem-topic">{{ math_problems.topic }}</h1>
            <p class="problem-question-info">{{ math_problems.question }}</p>
        </div>

        <div>
        {% for solution in math_problems.solutions.all %}
        <button type="button" class="collapsible">Open Solution</button>
        <div class="solution">
            <p class="solution-text">{{ solution.solution }}</p>
            <p class="solution-creater">Created By: {{ solution.solution_creater }}</p>
            <p class="solution-time">Created On: {{ solution.solutions_created_on }}</p>
            <div class="likes-dislikes">
              <form method="post" action="{% url 'like_solution' solution.id %}">
                {% csrf_token %}
                <button type="submit" class="like-button">
                  <i class="fa fa-thumbs-up"></i>{{ solution.likes }}
                </button>
              </form>
              <form method="post" action="{% url 'dislike_solution' solution.id %}">
                {% csrf_token %}
                <button type="submit" class="dislike-button">
                  <i class="fa fa-thumbs-down"></i>{{ solution.dislikes }}
                </button>
              </form>
            </div>
        </div>
        {% endfor %}
        </div>

        <div class="solution-button-container">
            <a class="button-look solution-page-button" href="{% url 'problems_by_topic' math_problems.topic.id %}">Back to Questions</a>
            <a class="button-look solution-page-button" href="{% url 'answer_a_problem' math_problems.id %}">Add Solution</a>
        </div>

    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
    </script>

</main>

{% endblock content %}
