{% extends 'base.html' %}

{% block title %}
    Question List
{% endblock title %}

{% block content %}

<main>
    <div class="grid-container">
            {% if problems %}
                {% for problem in problems %}
                <div class="grid-item">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title question-card-title">{{ problem.topic }}</h5>
                            <p class="card-text question-card-text">{{ problem.question }}</p>
                            <p class="card-text">Created by: {{ problem.question_creater }}</p>
                            <a href="{% url 'individual_problem' problem.id %}" class="question-button button-look topic-question-button">Check the Question</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>No questions found.</p>
            {% endif %}
    </div>

    <div class="question-list-button-container">
    <a class="button-look question-list-button" href="{% url 'all_topics' %}">Back to Topics</a>
    <a class="button-look question-list-button" href="{% url 'ask_a_problem' %}">Ask Question</a>
    </div>

</main>
{% endblock content %}
