{% extends 'base.html' %}

{% block title %}
    Question List
{% endblock title %}

{% block content %}
<main>
    <div class="grid-container">
        {% for topic in all_topics %}
        <div class="grid-item">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="{{ images|random }}" alt="Avatar" style="width:300px;height:200px;">
                    <h5 class="question-card-title">{{ topic.name }}</h5>
                  </div>
                  <div class="flip-card-back">
                    <h5 class="question-card-title">{{ topic.name }}</h5>
                    <p class="topic-description">{{ topic.description }}</p>
                    <a href="{% url 'problems_by_topic' topic.id %}" class="button-look topic-button">Check the Questions</a>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
