*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E0E0E0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: -30px;
}

.form-img{
    background-image: url("https://www2.sunybroome.edu/stem/wp-content/uploads/sites/33/2020/04/mathdept-banner.jpg");
    background-size: cover;
    background-position: top;
    height: 150px;
}

.form-box{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title{
    margin-bottom: 40px;
    font-size: 15px;
    text-align: center;
}

.inputbox{
    margin: 10px 0;
}

input[type="text"], input[type="password"]{
    width: 100%;
    height: 40px;
    background-color: #D6E5FA;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

input[type="text"]:focus, input[type="password"]:focus{
    outline: none;
    background-color: #D6E5FA;
}

.checkboxes{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 5px;
    font-size: 15px;
}

.checkboxes label{
    margin-right: 80px;
}

.checkboxes input{
    margin-right: 10px;
}

.form-button{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    border-radius: 12px;
    background-color: #D6E5FA;
    text-decoration: none;
    color: #907FA4;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 10px auto;
    width: 100%;
}

.form-button:hover{
    color: black;
}

.login-register{
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.login-register a{
    color: black;
    text-decoration: none;
}

.home-link{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.home-link a{
    color: black;
    text-decoration: none;
}
