/* NAVBAR */
body{
    background-color: #BAABDA;
    font-family: 'Dongle', sans-serif;
}

nav{
    background-color: #BAABDA;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo-name{
    font-family: 'Oswald', sans-serif;
}

.nav-title{
    font-family: 'Nunito', sans-serif;
    margin-left: 20px;
}

.nav-title:hover{
    font-family: 'Nunito', sans-serif;
    margin-left: 20px;
    font-weight: bold;
    color: #723881;
}

.buttons{
    float: right;
}

.navbar-collapse{
    display: flex;
    justify-content: center;
}

main{
    margin-top: 50px;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* HOME PAGE */
.title-pic-1, .title-pic-2, .title-pic-3, .title-pic-4{
    border-radius: 50%;
    object-fit: cover;
}

.title-pic-1{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
}

.title-pic-2{
    width: 200px;
    height: 200px;
    margin-top: -230px;
    margin-left: 30px;
}

.title-pic-3{
    width: 250px;
    height: 250px;
    margin-top: -240px;
    margin-left: -120px;
}

.title-pic-4{
    width: 50px;
    height: 50px;
    margin-top: -100px;
    margin-left: 15px;
}

.page-info{
    padding: 50px 80px 20px 50px;
}

.page-title{
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    color: #F7F1E5;
    font-size: 80px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.page-description{
    color: #F7F1E5;
    font-size: 30px;
    line-height: 22px;
    padding-bottom: 30px;
}

.home-button{
    padding-top: 20px;
    background: linear-gradient(45deg, #F7DBF0, #F9F9F9);
}

.home-button:hover{
    background: linear-gradient(45deg, #F9F9F9, #F7DBF0);
    color: #723881;
}

.button-look{
    font-family: 'Nunito', sans-serif;
    font-size: 15;
    padding: 10px;
    border-radius: 12px;
    background-color: #D6E5FA;
    text-decoration: none;
    color: #907FA4;
    font-weight: bold;
    margin-right: 10px;
}

.button-look:hover{
    color: #723881;
}

.direction-title{
    font-family: 'Monofett', cursive;
    text-align: center;
    font-size: 45px;
    padding-bottom: 30px;
    color: #F7F1E5;
    position: relative;
}

.direction-title:before{
    content: '';
    display: block;
    position: absolute;
    top: 35%;
    width: 300px;
    height: 2px;
    background-color: #F7F1E5;
}

.direction-title:after{
    content: '';
    display: block;
    position: absolute;
    top: 35%;
    width: 300px;
    height: 2px;
    background-color: #F7F1E5;
}

.direction-title::before{
    left: 0;
}

.direction-title::after{
    right: 0;
}

.card-img-top {
    display: block;
    margin: 15px auto 0px auto;
    border-radius: 50%;
    object-fit: cover;
    width: 55px;
    height: 55px;
}

.home-card-title{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.home-card-text{
    font-size: 25px;
    padding-top: 10px;
    line-height: 22px;
}

.carousel-inner{
    width: 1100px;
    padding-left: 150px;
}

footer{
    background-color: #FCF2DB;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-top: auto;
}

.footer{
    margin-bottom: 0px;
}

/* TOPIC LIST */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}


.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #F6F6F6;
    color: black;
    transform: rotateY(180deg);
}

.topic-description{
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.topic-button{
    padding: 5px 10px 10px 10px;
}

/* MY QUESTION LIST */
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin: 20px 100px 20px 100px;
}

.grid-item{
    padding: 10px;
    margin-bottom: 50px;
}

.question-card-title{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

.question-card-text{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
    line-height: 22px;
    text-align: center;
}

.question-button{
    padding: 5px 10px 5px 10px;
    float: left;
}

.delete-button{
    padding: 5px 10px 5px 10px;
    float: right;
    margin-right: 0px;
}

.question-list-button{
    background: linear-gradient(45deg, #F7DBF0, #F9F9F9);
    margin: 20px 10px 40px 10px;
}

.question-list-button:hover{
    background: linear-gradient(45deg, #F9F9F9, #F7DBF0);
    margin: 20px 10px 40px 10px;
}

/* QUESTIONS BY TOPIC */
.topic-question-button{
    display: flex;
    justify-content: center;
    margin-right: 0px;
}

.question-list-button-container{
    display: flex;
    justify-content: center;
}


/* INDIVIDUAL PROBLEM */
.problem-page{
    padding: 30px 50px 30px 50px;
}

.problem{
    background-color: #FFF0F0;
    border-radius: 12px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 130px;
}

.problem-topic{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    padding: 20px 10px 50px 20px;
}

.problem-question-info{
    font-size: 70px;
    text-align: center;
}

/* SOLUTION */
.collapsible{
    background-color: #FFF0F0;
    color: #723881;
    cursor: pointer;
    padding: 8px;
    width: 68%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 30px;
    margin: 20px 0px 5px 200px;
}

.collapsible:hover{
    background-color: #F1C6D3;
    color: black;
}

.solution{
    width: 68%;
    display: none;
    overflow: hidden;
    background-color: #F1C6D3;
    margin: 20px 0px 5px 200px;
    text-align: center;
}

.solution-text{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.solution-creater{
    margin: 0px;
}

.solution-time{
    margin: 0px;
}

.solution-button-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.solution-page-button{
    background: linear-gradient(45deg, #F7DBF0, #F9F9F9);
}

.solution-page-button:hover{
    background: linear-gradient(45deg, #F9F9F9, #F7DBF0);
}

.likes-dislikes form{
    display: inline-block;
}

.fa{
    padding-right: 10px;
}

.like-button, .dislike-button{
    border: none;
    background-color: #F1C6D3;
    display: inline-block;
}

.like-button:hover{
    color: green;
}

.dislike-button:hover{
    color: red;
}

/* FORM */
.form-page{
    margin-top: 30px;
    text-align: center;
}

.form-title{
    font-size: 70px;
    margin-top: 50px;
}

.label-name{
    font-size: 30px;
}

.label-question{
    font-size: 60px;
}

.input-name, .input-description, .input-question, .input-solution{
    border: 1px solid;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
}

.input-question{
    height: 300px;
}

.option{
    border: 1px solid;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    box-sizing: border-box;
}

.user-option{
    margin-bottom: 30px;
}

.input-name{
    margin-bottom: 20px;
}

.form-button{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    border-radius: 12px;
    background-color: #D6E5FA;
    text-decoration: none;
    color: #907FA4;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 15px auto;
}

.form-button:hover{
    color: black;
}
