{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
    <main>
        <div class="form-img"></div>
        <div class="wrapper">
            <div class="form-box">
                <form method="post">
                    {% csrf_token %}
                        {% comment %} <div class="error">
                            {{ form.error }}
                        </div> {% endcomment %}
                    <div class="login-title">
                        <h1>Always Right</h1>
                        <h1>Login</h1>
                    </div>
                    <div class="inputbox">
                        <label for="#">{{ form.username.label }}</label>
                        {{ form.username }}
                    </div>
                    <div class="inputbox">
                        <label for="#">{{ form.password.label }}</label>
                        {{ form.password }}
                    </div>
                    <div class="checkboxes">
                        <label><input type="checkbox" name="remeber-me">Remember me</label>
                        <a href=""> Forgot password?</a>
                    </div>
                    <button class="form-button">Login</button>
                    <div class="login-register">
                        <a href="{% url 'signup' %}" class="register-link">Don't have an account?</a>
                    </div>
                    <div class="home-link">
                        <a href="{% url 'home' %}">Go to the home page</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
