{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
    <main>
        <div class="form-img"></div>
        <div class="wrapper">
            <div class="form-box">
                <form method="post">
                    {% csrf_token %}
                    {% comment %} {{ form.as_p }} {% endcomment %}
                    <div class="login-title">
                        <h1>Always Right</h1>
                        <h1>Signup</h1>
                    </div>
                    <div class="inputbox">
                        <p>
                            <label for="id_username">Username</label>
                            <input type="text" name="username" maxlength="150" required id="id_username">
                        </p>
                    </div>
                    <div class="inputbox">
                        <p>
                            <label for="id_password">Password</label>
                            <input type="password" name="password" maxlength="150" required id="id_password">
                        </p>
                    </div>
                    <div class="inputbox">
                        <p>
                            <label for="id_password_confirmation">Password confirmation</label>
                            <input type="password" name="password_confirmation" maxlength="150" required id="id_password_confirmation">
                        </p>
                    </div>
                    <button class="form-button">Signup</button>
                    <div class="login-register">
                        <a href="{% url 'login' %}" class="register-link">Already have an account? Sign In</a>
                    </div>
                    <div class="home-link">
                        <a href="{% url 'home' %}">Go to the home page</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
