{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Josefin+Sans&family=Monofett&family=Nunito&family=Oswald&family=Teko&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/38785e483b.js" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
<body>
    <nav class="header navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand logo-name" href="{% url 'home' %}">
            <img src="https://www.transparentpng.com/thumb/math/9DzgbD-mathematics-calculator-calculation-math-icon.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top logo-img">
            Always Right
          </a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav nav">
                <li class="nav-item">
                  <a class="nav-link active nav-title" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active nav-title" aria-current="page" href="{% url 'all_topics' %}">Topic List</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link active nav-title" href="{% url 'ask_a_problem' %}">Ask Questions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active nav-title" href="{% url 'add_topics' %}">Add Topics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active nav-title" href="{% url 'my_problems' %}">My Posts</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link active nav-title" href="{% url 'signup' %}">Ask Questions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active nav-title" href="{% url 'signup' %}">Add Topics</a>
                </li>
                {% endif %}
              </ul>
          </div>

          <div>
              <ul class="nav buttons">
                {% if user.is_authenticated %}
                <a class="nav-link active nav-title button-look" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="nav-link active nav-title button-look" href="{% url 'signup' %}">Signup</a>
                <a class="nav-link active nav-title button-look" href="{% url 'login' %}">Login</a>
                {% endif %}
              </ul>
          </div>
        </div>
    </nav>
    {% block content %}{% endblock content %}
    <footer>
        <p class="footer">Made with Love for Math</p>
    </footer>
</body>
</html>
